
    <nav>
        <a href="/index"><img src="images/logo.png" class="logo"></a>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/catalogo">Catálogo</a></li>
            <li class="ingresar">Acceder
                <div class="menu">
                    <div class="menu-cuenta">
                        <a href="/ingreso">Acceder</a>
                        <hr>
                        <a href="/registro">Registrate</a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
