<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/header'); %>
    <header>
        <div class="contenido">
            <h1>Fhorma </h1><h1 id="athe">Athelier</h1>
            <h2>Mientras más alto el tacon más cerca el cielo</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                facilis, doloremque magnam architecto obcaecati vero dolorem in
                excepturi fugiat ad eligendi cumque dolorum repudiandae molestiae
                voluptatem praesentium assumenda eaque optio.
            </p>
            <button type="submit" class="boton">Saber más</button>
      </div>
    </header>
  </body>
</html>
