<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <%- include('partials/header'); %>
    <div class="barra"></div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
              <label for="nickname" class="form-label">Email</label>
              <input type="email" class="form-control" id="nickname" name="nickname" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="boton form">Ingresar</button>
        </form>
    </div>
</body>
</html>

<%- include('partials/menu'); %>